@{
    ViewBag.Title = "Secure form";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Test page to reproduce posting form data when logged out for an active middleware.</p>
<h3>
    To reproduce
</h3>
<ol>
    <li>Log out in a separate browser tab</li>
    <li>Click the Post form button below</li>
</ol>
<h3>
    Expected behaviour
</h3>
<p>
    Browser is redirected to the login page
</p>
<h3>
    Actual behaviour
</h3>
<p>
    Exception: System.InvalidOperationException: Sequence contains more than one element
    <pre>
[InvalidOperationException: Sequence contains more than one element]
   System.Linq.Enumerable.Single(IEnumerable`1 source) +396
   Kentor.AuthServices.WebSso.<>c.<InitBasicFields>b__6_1(KeyValuePair`2 kv) in C:\Git\authservices\Kentor.AuthServices\WebSso\HttpRequestData.cs:136
   System.Linq.Enumerable.ToDictionary(IEnumerable`1 source, Func`2 keySelector, Func`2 elementSelector, IEqualityComparer`1 comparer) +236
   System.Linq.Enumerable.ToDictionary(IEnumerable`1 source, Func`2 keySelector, Func`2 elementSelector) +57
   Kentor.AuthServices.WebSso.HttpRequestData.InitBasicFields(String httpMethod, Uri url, String applicationPath, IEnumerable`1 formData) in C:\Git\authservices\Kentor.AuthServices\WebSso\HttpRequestData.cs:134
   Kentor.AuthServices.WebSso.HttpRequestData.Init(String httpMethod, Uri url, String applicationPath, IEnumerable`1 formData, IEnumerable`1 cookies, Func`2 cookieDecryptor, ClaimsPrincipal user) in C:\Git\authservices\Kentor.AuthServices\WebSso\HttpRequestData.cs:96
   Kentor.AuthServices.WebSso.HttpRequestData..ctor(String httpMethod, Uri url, String applicationPath, IEnumerable`1 formData, IEnumerable`1 cookies, Func`2 cookieDecryptor, ClaimsPrincipal user) in C:\Git\authservices\Kentor.AuthServices\WebSso\HttpRequestData.cs:66
   Kentor.AuthServices.Owin.<ToHttpRequestData>d__0.MoveNext() in C:\Git\authservices\Kentor.AuthServices.Owin\OwinContextExtensions.cs:38
</pre>
    <br />
    in HttpRequestData.InitBasicFields
</p>
<h3>
    Test form
</h3>
@using (var form = Html.BeginForm())
{
    <p>HttpMethod:&nbsp; @Request.HttpMethod</p>
    <p>Current time: @DateTime.Now</p>
    <p>
        <input type="submit" value="Post form" />
    </p>
    <input type="hidden" name="kaboom" value="whatever" />
    <input type="hidden" name="kaboom" value="something else" />
}